
@font-face {
    font-family: Drawfly Go;
    src: url(C:\Users\Dagon\Desktop\ProgProjects\Repo\Sign-up-project\drawfly-go-font\DrawflyGo-w1ly2.otf);
}

body {
    font-family: Drawfly Go, sans-serif;  margin: 0; background-color: white;
}


/* LEFT  */

#left {  
    height: 100vh;
    width: 65vw;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    background-position: center; 
    }


  /* RIGHT */

#right-top {
    height: 25vh;
    width: 35vw;
    background-color: rgb(242, 226, 226);
    position: relative;
    left: 65vw;
    bottom: 100vh;
    font-family: Kdam Thmor Pro;
    text-align: center;
    padding-top: 30px;
  }


#right-middle {
    padding-top: 30px;
    position: relative;
    bottom: 100vh;
    width: 35vw;
    height: 60vh;
    background-color: aliceblue;
    left: 65vw;
    text-align: center;
    font-family: Kdam Thmor Pro;
}  

#right-bottom {
    position: relative;
    bottom: 100vh;
    width: 35vw;
    height: 10vh;
    left: 65vw;
    background-color: aqua;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
}

.UserInput {
    margin-bottom: 10px;
}

input {
    margin: 10px;
    display: block;
    padding: 10px;
    width: 10vw;
    border-radius: 5px;
    border: 1px solid #00000022;
    position: relative;    
  }

  button {
    width: 6vw;
    height: 6vh;
    background-color: greenyellow;
    border-radius: 50%;
    position: relative;
    top: 2vh;
    left: 15vw;
  }

  
