/*
@font-face {
    font-family: Drawfly Go;
    src: url();
}
*/

body {
    font-family: Drawfly Go, sans-serif;  margin: 0; background-color: white; background-color: rgb(84, 136, 71);
}

.UserInput {
    margin-bottom: 10px;
   
}

input {
    margin: 10px;
    display: block;
    padding: 10px;
    width: 10vw;
    border-radius: 5px;
    border: 1px solid #00000022;
    position: relative;
      
  }

  button {
    width: 6vw;
    height: 6vh;
    background-color: rgb(210, 219, 223);
    border-radius: 50%;
    position: relative;
    top: 2vh;
    left: 12vw;
    border: none;
    min-width: 60px;
   
    margin-right: 10px;
  }



/* LEFT  */



#left {  
    height: 100vh;
    width: 35vw;
    margin: 0;
    background-image: url(images/firefox_bpDG5jwmpC.jpg);
    background-size: cover;
    background-position: center; 
    }


  /* Middle */

#right-top {
    height: 25vh;
    width: 30vw;
    background-color: rgb(242, 226, 226);
    position: relative;
    left: 35vw;
    bottom: 100vh;
    font-family: Kdam Thmor Pro;
    text-align: center;
    padding-top: 30px;
   
  }

#right-middle {
    padding-top: 30px;
    position: relative;
    bottom: 100vh;
    width: 30vw;
    height: 60vh;
    background-color: aliceblue;
    left: 35vw;
    text-align: center;
    font-family: Kdam Thmor Pro;
    
}  

#right-bottom {
    position: relative;
    bottom: 209vh;
    width: 30vw;
    height: 10vh;
    left: 35vw;
    background-color: rgb(84, 136, 71);
   
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
   
}

.inputBlock {
    padding-left: 30%;
    padding-right: 30%;
}

#passwordInput {
    padding-left: 30%;
    padding-right: 30%;
}


    /* RIGHT */
  
#far-right {
    margin: 0;
    height: 109vh;
    width: 35vw;
    background-image: url(images/firefox_bpDG5jwmpC.png);
    background-size: cover;
    background-position: center;
    position: relative;
    left: 65vw;
    bottom: 200vh;
}


        /* RESPONSIVE WEB-DESIGN

        @media screen and (min-width: 300px) {
            #right-top {
                width: 150px;
            }

            #right-middle {
                 width: 150px;
                 
            }

            #right-bottom {
                width: 150px;
                
            }

            #left {
                width: 100px;
                
            }

            #far-right {
                width: 100px;
                left: 80vw;
               
            }

            button {
                padding-right: 10px;
                position: relative;
                
            }

        } */
